{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>SuperShop | Contact</title>
{% endblock %}

{% block body %}

<!-- breadcrumb part start-->
<section class="breadcrumb_part">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb_iner">
          <h2>contact</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb part end-->

<!-- ================ contact section start ================= -->
<section class="contact-section pt-2">
  <div class="container">



    <div class="row">
      <div class="col-12">
        <h2 class="contact-title">Get in Touch</h2>
      </div>
      <div class="col-lg-6">
        {% if messages %}
        {% for m in messages %}
        <div class="alert alert-success text-center alert-dismissible fade show" role="alert">
          {{m}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        <form action="" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label>Name<span class="text-danger">*</span></label>
            <input type="text" name="name" required class="form-control" placeholder="Full Name">
          </div>
          <div class="mb-3">
            <label>Email<span class="text-danger">*</span></label>
            <input type="email" name="email" required class="form-control" placeholder="Email Address">
          </div>
          <div class="mb-3">
            <label>Phone<span class="text-danger">*</span></label>
            <input type="text" name="phone" required class="form-control" placeholder="Phone Number">
          </div>
          <div class="mb-3">
            <label>Subject<span class="text-danger">*</span></label>
            <input type="text" name="subject" required class="form-control" placeholder="Subject">
          </div>
          <div class="mb-3">
            <label>Message<span class="text-danger">*</span></label>
            <textarea name="message" rows="5" class="form-control" placeholder="Message..."></textarea>
          </div>
          <div class="mb-3">
            <button type="submit" class="btn_3 w-100">Send</button>
          </div>
        </form>
      </div>
      <div class="col-lg-6">
        <div class="media contact-info">
          <span class="contact-info__icon"><i class="ti-home"></i></span>
          <div class="media-body">
            <h3>Saran, India</h3>
            <p>Grakha, 841311</p>
          </div>
        </div>
        <div class="media contact-info">
          <span class="contact-info__icon"><i class="ti-tablet"></i></span>
          <div class="media-body">
            <h3><a href="tel:7002212298" class="text-dark">+91 7002212298</a></h3>
            <p>Mon to Fri 9am to 6pm</p>
          </div>
        </div>
        <div class="media contact-info">
          <span class="contact-info__icon"><i class="ti-email"></i></span>
          <div class="media-body">
            <h3><a href="mailto:premkumarsingh9206@gmail.com" class="text-dark">premkumarsingh9206@gmail.com</a></h3>
            <p>Send us your query anytime!</p>
          </div>
        </div>
        <div class="mapouter">
          <div <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14364.335287748328!2d84.86342995!3d25.8337831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3992b161c9547919%3A0x5790d0d1c03405a6!2sGarkha%2C%20Bihar%20841311!5e0!3m2!1sen!2sin!4v1717743712850!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>     </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================ contact section end ================= -->

{% endblock %}
